h4{
    font-family: 'Gruppo', cursive;
    font-size: 20px;
}

body{
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVBAR */
.navbar{
    background-color: #0400ef76 !important;
}

.navbar-brand{
    color: #1c86d2 !important;
    font-family: 'Gruppo', cursive !important;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #1c86d2 !important;
    border-color: white !important;
    font-family: 'Gruppo', cursive !important;
}

.dropdown-menu{
    background-color:#0300bf !important;
    border-color: #1c86d2 !important;

}

.dropdown-item{
    color:rgb(157, 226, 255) !important;
    font-family: 'Gruppo', cursive;
}

.dropdown-item:hover{
    background-color: #020076 !important;
}

/*FOOTER*/
.text-center.p-3{
    background-color:#020076;
    color:rgb(157, 226, 255);
}

.text-copyright{
    color:rgb(157, 226, 255) !important;
}

.bg-dark.text-center.text-white{
    background-color: #0400ef76 !important;
}

.icon{
    width:40px;
    height:40px;
}

